body {background: #5B92E5}
body {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background: white;
    font-family: helvetica;
    background-image: url("rainbow.jpg");
    background-color: #5B92E5;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
  }
body {
    border-right-style: solid;
    border-left-style: solid;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
#table {
border-spacing: 5px;
text-align: center;
}
#header {
  text-align: center;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}
/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}